<html>
	<body ng-app="myApp">
		<div ng-controller="DemoController">
		<fieldset>
		<legend>Arithmatic Operations</legend>
			Enter First number&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input ng-model="s1"/><br/>
			Enter Second number&nbsp;<input ng-model="s2"/><br/>
			<input type="Button" value="Add" ng-click="f1()">&nbsp;&nbsp;<input type="Button" value="Multiply" ng-click="f2()">
			<h3>{{result}}</h3>
		</fieldset>
		</div>
		<script src="D:\KALYAAN\Books\AngularJS\angular.js"></script>
		<script src="ArithmaticController.js"></script>
	</body>
</html>